@model List<TranAnhDung_2122110043.Context.Category>
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <nav class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="card card-category">
                        <div class="img-wrap" style="background: #ffd7d7">
                            <img src="~/Content/images/brand/1.jpg">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">@Html.ActionLink(@item.name, "ProductCategory", "Category", new {@id=item.id }, null)</h4>
                            <ul class="list-menu">
                                <li><a href="">Unisex T shirts</a></li>
                                <li><a href="">Casual shirts</a></li>
                                <li><a href="">Scherf Ice cream</a></li>
                                <li><a href="">Another category</a></li>
                                <li><a href="">Great items name</a></li>
                                <li><a href="">Great items name</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- col.// -->
            }
        </nav> <!-- row.// -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
    <div class="container">

        <p class="pb-2 text-center">Delivering the latest product trends and industry news straight to your inbox</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="form-row">
                    <div class="col-8">
                        <input class="form-control" placeholder="Your Email" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Subscribe </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text">We’ll never share your email address with a third-party. </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
