
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="checkout-container">
    <div class="emoji">🎉</div>
    <h1>Cảm ơn bạn đã mua hàng !</h1>
    <p>Đơn hàng của bạn đã được đặt thành công.</p>
    <a href="@Url.Action("Index", "Home")">Tiếp tục mua sắm với chúng tôi</a>
</div>